      
<form action="addproduct" method="post">
<label>title</label>
<input type="text" name="title">
<label>price</label>
<input type="number" name="price">
<label>description</label>
<input type="text" name="description">
<label>quantity</label>
<input type="number" name="quantity">
<input type="submit" value="save">
</form>


